<div class="container">
  <h1 class="display-3">List of universities in United States</h1>

  <form>
    <div class="mb-3 row">
      <label
        for="table-complete-search"
        class="col-xs-3 col-sm-auto col-form-label"
        >University Name Search:</label
      >
      <div class="col-xs-3 col-sm-auto">
        <input
          id="table-complete-search"
          type="text"
          class="form-control"
          name="searchTerm"
          [formControl]="searchText"
          ngModel
        />
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col" sortable="name">Name</th>
            <th scope="col" sortable="webPages">Web Page</th>
            <th scope="col" sortable="stateProvince">State Province</th>
            <th scope="col" sortable="domains">Domain</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let university of universities; let idx = index">
            <td>{{ idx + 1 }}</td>
            <td>{{ university.name }}</td>
            <td>
              <em>{{ university.webPages }}</em>
            </td>
            <td>{{ university.stateProvince }}</td>
            <td>{{ university.domains }}</td>
          </tr>
        </tbody>
      </table>
      <div *ngIf="!(areUniversitiesLoaded$ | async)" class="d-flex align-items-center" >
        <strong>Loading...</strong>
        <div class="spinner-border ms-auto"  role="status" aria-hidden="true"></div>
      </div>

      <div class="d-flex justify-content-between p-2">
        <ngb-pagination
          [collectionSize]="(collectionSize$ | async)!"
          [(page)]="page"
          [pageSize]="pageSize"
          (pageChange)="refresh()"
          [maxSize]="10"
          [rotate]="true"
          [ellipses]="true"
        >
        </ngb-pagination>
      </div>
    </div>
  </form>
</div>
